* {
  margin: 0;
  padding: 0; }

/******HEADER**** */
.nav-brand {
  font-size: 2.6em;
  font-family: monospace;
  color: #29302e;
  cursor: pointer;
  text-decoration: none; }
  .nav-brand:hover {
    opacity: 0.8;
    text-decoration: none; }

.navbar-collapse {
  float: right; }

h1 {
  margin-top: 15px;
  margin-bottom: 15px; }

.row {
  margin-left: auto;
  margin-right: auto; }

.col-xs-12 {
  background-color: #1ba38f;
  margin-right: 15px;
  margin-top: 15px; }
  .col-xs-12 p {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.5em; }

@media (min-width: 768px) {
  .icon-bar {
    display: none; } }
